<%page expression_filter="h"/>
<%!
  import json
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
%>
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='../static_content.html'/>

% if course_discovery_enabled:
<%block name="header_extras">
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor
  <%static:require_module module_name="js/discovery/discovery_factory" class_name="DiscoveryFactory">
    DiscoveryFactory(
      ${course_discovery_meanings | n, dump_js_escaped_json},
      getParameterByName('search_query'),
      "${user_language | n, js_escaped_string}",
      "${user_timezone | n, js_escaped_string}"
    );
  </%static:require_module>
</%block>
% endif
<%block name="headextra">
  <link href="${static.url('custom_css/breadcrums.css')}" rel="stylesheet"> 
  <link href="${static.url('custom_css/course.css')}" rel="stylesheet"> 
</%block>
<%block name="pagetitle">${_("Courses")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="find-courses find-course-wrap">
      <section class="courses-container container-fluid">
        <div class="video_wrap">  <!-- added wrap row--->
          <div class="row video_banner_row"> <!---added class--->
            <div class="col-md-12 col-sm-12 col-xs-12">
              <ul class="breadcrums">
                  <li>
                      <a href="/">Home / </a>
                  </li>
                  <li>
                      <a href="/courses">All Courses</a>
                  </li>
              </ul>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="video-popup-content clearfix">
                <div class="video-img">
                    <a href="#" data-toggle="modal" data-target="#youtube">
                        <img src="https://img.youtube.com/vi/-S0kLcw105Q/0.jpg" alt="demo">
                        <div class="play-intro play-btn"  onclick="modalvideoplay();"><!-- <img src="https://s3.ap-south-1.amazonaws.com/student-verified-photos/icons8-play-40.png" style="margin-left: 0%;margin-top: 0%;"> -->
                          <img src="${static.url('images/weq-images/play-button.svg')}" alt="">
                        </div>
                    </a>
                </div>
                <div class="video-content video-text">
                    <h4>Learn how courses work on DocMode</h4>
                    <p>Courses help you study a specific topic in 6-8 week engagements culminating in a certificate
                        of participation from the Partner Watch the video to learn more!</p>
                    <!-- <a href="#" class="close-content">x</a> -->
                </div>
            </div> 
            </div>
          </div>
        </div>

      <div class="container container_wrapper">
        % if course_discovery_enabled:
        <div id="discovery-form" role="search" aria-label="course" class="wrapper-search-context">
          <div id="discovery-message" class="search-status-label search-label-text"></div>
          <form class="wrapper-search-input">
            <label for="discovery-input" class="sr">${_('Search for a course')}</label>
            <input id="discovery-input" class="discovery-input search-input" placeholder="${_('Search for a course')}" type="text"/>
            <button type="submit" class="button postfix discovery-submit course-submit" title="${_('Search')}">
              <span class="icon fa fa-search" aria-hidden="true"></span>
              <div aria-live="polite" aria-relevant="all">
                <div id="loading-indicator" class="loading-spinner hidden">
                  <span class="icon fa fa-spinner fa-spin" aria-hidden="true"></span>
                  <span class="sr">${_('Loading')}</span>
                </div>
              </div>
            </button>
          </form>
        </div>

        <div id="filter-bar" class="filters hide-phone is-collapsed">
        </div>
        % endif

        % if course_discovery_enabled:
        <aside aria-label="${_('Refine Your Search')}" class="search-facets phone-menu filter-sidebar">
          <h2 class="header-search-facets">${_('Refine Your Search')}</h2>
          <div class="sidebar-filter">
              <section class="search-facets-lists"></section>
           </div>        
        </aside>
        % endif

        <div class="courses${'' if course_discovery_enabled else ' no-course-discovery'}" role="region" aria-label="${_('List of Courses')}">
          <ul class="courses-listing courses-list">
            %for course in courses:
            <li class="courses-listing-item">
              <%include file="../course.html" args="course=course" />
            </li>
            %endfor
          </ul>
        </div>
      </div>

       <div class="course_load_more explore_btn">
          <button type="button" class="btn btn-default">Load More</button>
       </div>
      </section>
    </section>
</main>
<script type="text/javascript">
function hide_types() { 
      document.getElementById("types").style.display = "none";  
      document.getElementById("typescontent").style.display = "none";
    }
    
$("document").ready(function() {
    /*************please donot remove the below code ******************/ 
    var url = window.location.href;
    setTimeout(function() {
      if (url.includes("courses")) {
        document.getElementById("filtercourses").click();  
          
      } else {
        document.getElementById("filterlectures").click();
        var x = document.getElementById("discovery-message").textContent;
        var res = x.split(" ");
        document.getElementById("discovery-message").innerHTML = res[0]+' '+res[1]+' Lectures';
      }  
         
    },500);

/*************script added by nisha course accordian******************/ 
  setTimeout(
    function () {
       myAccordian();
       hide_types();
    }, 2000); 
});

function reset_myAccordian(){
  setTimeout(
    function () {
       myAccordian();
       hide_types();
       var url = window.location.href;
        $(".accordionGroup").addClass("active");
        $(".accordionContent").css("max-height", "max-content");
        if (url.includes("lectures")) {
          var x = document.getElementById("discovery-message").textContent;
          var res = x.split(" ");
          document.getElementById("discovery-message").innerHTML = res[0]+' '+res[1]+' Lectures';
        }
    }, 1000);
}
</script>