<%page expression_filter="h"/>
<%!
    import json
    from django.utils.translation import ugettext as _
    from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
    from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../theme-main.html" />

<%block name="pagetitle">${_("Sign in or Register")}</%block>

<%block name="js_extra">
    <%static:require_module module_name="js/student_account/logistration_factory" class_name="LogistrationFactory">
        var options = ${data | n, dump_js_escaped_json};
        LogistrationFactory(options);
        if ('newrelic' in window) {
            newrelic.finished();
            // Because of a New Relic bug, the finished() event doesn't show up
            // in Insights, so we have to make a new PageAction that is basically
            // the same thing. We still want newrelic.finished() for session
            // traces though.
            newrelic.addPageAction('xfinished');
        }
    </%static:require_module>
    % if configuration_helpers.get_value('DISPLAY_TOS_IN_MODAL_ON_REGISTRATION_PAGE', False):
    <script type="text/javascript" src="${static.url('js/student_account/tos_modal.js')}"></script>
    % endif
</%block>

<%block name="header_extras">
    % for template_name in ["account", "access", "form_field", "login", "register", "institution_login", "institution_register", "password_reset", "hinted_login"]:
        <script type="text/template" id="${template_name}-tpl">
            <%static:include path="student_account/${template_name}.underscore" />
        </script>
    % endfor
</%block>
<div class="section-bkg-wrapper">
  %if "/login" not in request.path:
    <div class="loading" id="gifloader">
        <img src="https://s3-ap-southeast-1.amazonaws.com/docmode.co/logo/100x100Docmode.gif" width="100" height="100" border="0" alt="">
    </div>
  %endif
    <main id="main" aria-label="Content" tabindex="-1">
        <div id="content-container" class="login-register-content">
            % if enable_enterprise_sidebar:
                <%include file="enterprise_sidebar.html" />
                <%
                    border_class = 'border-left'
                %>
            % else:
                <%
                    border_class = ''
                %>
            % endif
            <div id="login-and-registration-container" class="login-register ${border_class}"></div>
        </div>
    </main>
</div>
<script type="text/javascript">
    
    function setfunc() {
    $("#register-email").on("change", function(event){
            checkEmailValidity();
        });

        $("#register-user_type").on("change", function(event) { 
            usertype(this.value);

        } );
        usertype('dr');
        $("#register-rpincode").on("change", function(event) { 
            getlocation(this.value);
        });
        
        var appBanners = document.getElementsByClassName('tip'), i;

        for (var i = 0; i < appBanners.length; i ++) {
            appBanners[i].style.display = 'none';
        }

        $('.js-register.register-button').attr("disabled", true);


        $('.text-username').hide();
        $('.text-reg_num').hide();
        $('.select-specialization').hide();
        $('.select-hcspecialization').hide();
        
        $('.text-rcountry').hide();
        $('.text-rstate').hide();
        $('.text-rcity').hide();
        $('.text-address').hide();
        $('#gifloader').hide();

        var username = document.getElementById('register-email').value;
        if (username != '') {
          newval = username.replace(/[.]/gi, "-");
          string =  newval.replace("@", "_");
          document.getElementById('register-username').value = string;
          $('.text-username').show();
        }
    }

    function usertype(val){
        
        if(val == 'u') {
            $('.text-reg_num').hide();
            $('.select-specialization').hide();
            $('.select-hcspecialization').hide();
        } else if(val == 'hc') {
            $("div").removeClass("hidden");
            $('.text-reg_num').hide();
            $('.select-specialization').hide();
            $('.select-hcspecialization').show();
        } else if(val == 'dr') {
            $("div").removeClass("hidden");
            $('.text-reg_num').hide();
            $('.select-specialization').show();
            $('.select-hcspecialization').hide();

        } else if(val == 'ms') {
            $("div").removeClass("hidden");
            $('.text-reg_num').hide();
            $('.select-specialization').show();
            $('.select-hcspecialization').hide();
        }

    }

var ZeroBounceApi = /** @class */ (function () {
        function ZeroBounceApi(apiKey){
          var baseUrl = "https://api.zerobounce.net/v1";
          var get = new XMLHttpRequest();
          /**
           * @param apiKey - your private API key
           * */
          this.apiKey = apiKey;

          /**
           * @return the number of credits remaining on your account
           * */
          this.getCredits = function(){
              var uri = baseUrl + "/getcredits" + "?apikey=" + apiKey;
              get.open('GET', uri, false);
              get.send();
              if (get.readyState === 4 && get.status === 200) {
                  return get.responseText;
              }
          }

          /**
           * @param email - the email you want to validate
           * @return - a JSONObject with all of the information for the specified email
           * */
          this.validate = function(email){
              var uri = baseUrl + "/validate" + "?apikey=" + apiKey + "&email=" + email;
              get.open('GET', uri, false);
              get.send();
              if (get.readyState == 4 && get.status == 200) {
                  return get.responseText;
              }
          }

          /**
           * @param email - the email you want to validate
           * @param ip - the ip to be use for this validation (advanced)
           * @return - a JSONObject with all of the information for the specified email
           * */
          this.validateWithIpAddress = function(email, ipAddress){
              var uri = baseUrl + "/validate" + "?apikey=" + apiKey + "&email=" + email + "&ipAddress=" + ipAddress;
              get.open('GET', uri, false);
              get.send();
              if (get.readyState == 4 && get.status == 200) {
                  return get.responseText;
              }
          }
        }
        return ZeroBounceApi;
    }());


function checkEmailValidity() {
      
      mail = document.getElementById('register-email').value;
      var ZeroBounceApiVar = new ZeroBounceApi('af8e53a08b7a4a9ab3cc98584fd3a734');
      ZeroBounceApiVar.apiKey;
      ZeroBounceApiVar.getCredits();
      var getResults = ZeroBounceApiVar.validate(mail);
      var getStatus = JSON.parse(getResults);
      // alert(getStatus.status);
      if (getStatus.status == 'Invalid' || getStatus.status == 'Spamtrap' || getStatus.status == 'Abuse' || getStatus.status == 'DoNotMail') {
        alert('Email Address Invalid');
        document.getElementById('register-email').value = "";
        document.getElementById('register-email').focus();
      }
      mail = document.getElementById('register-email').value;
      newval = mail.replace(/[.]/gi, "-");
      string =  newval.replace("@", "_");
      var length = 30;
      var trimmedString = string.length > length ? 
                    string.substring(0, length - 3): 
                    string;
      var newstring = trimmedString.split("_");
      document.getElementById('register-username').value = newstring[0];
      
      $('.text-username').show();
    }

    setTimeout(setfunc, 2000);

    function getlocation(zipcode) {
      var zip;
      zip = zipcode;
      if (zip.length >1) {
        $.ajax({
            type: 'POST',
            url: "https://maps.googleapis.com/maps/api/geocode/json?address=" + zip + "&key=AIzaSyDQUh3L4Gfjc-QOrpQAIUm7MG6hR1RX6Bo",
            success: (function(_this) {
            return function(data) {
              if (data["status"] === "OK") {
                $('.text-rcountry').show();
                $('.text-rstate').show();
                $('.text-rcity').show();
                $( "input#register-rcountry" ).prev().removeClass( "focus-out" );
                $( "input#register-rcountry" ).prev().addClass( "focus-in" );
                $( "input#register-rstate" ).prev().removeClass( "focus-out" );
                $( "input#register-rstate" ).prev().addClass( "focus-in" );
                $( "input#register-rcity" ).prev().removeClass( "focus-out" );
                $( "input#register-rcity" ).prev().addClass( "focus-in" );
                var count = Object.keys(data["results"][0]["address_components"]).length;
                if (count == 6 ) {
                    $('input#register-rcountry').val(data["results"][0]["address_components"][5]["long_name"]);
                    $('input#register-rstate').val(data["results"][0]["address_components"][4]["long_name"]);
                    $('input#register-rcity').val(data["results"][0]["address_components"][2]["long_name"]);
                    $('.js-register.register-button').attr("disabled", false);
                } else if (count == 5 ) {
                    $('input#register-rcountry').val(data["results"][0]["address_components"][4]["long_name"]);
                    $('input#register-rstate').val(data["results"][0]["address_components"][3]["long_name"]);
                    $('input#register-rcity').val(data["results"][0]["address_components"][1]["long_name"]);
                    $('.js-register.register-button').attr("disabled", false);
                } else if (count == 4 ) {
                    $('input#register-rcountry').val(data["results"][0]["address_components"][3]["long_name"]);
                    $('input#register-rstate').val(data["results"][0]["address_components"][2]["long_name"]);
                    $('input#register-rcity').val(data["results"][0]["address_components"][1]["long_name"]);
                    $('.js-register.register-button').attr("disabled", false);
                } else if (count == 3 ) {
                    $('input#register-rcountry').val(data["results"][0]["address_components"][2]["long_name"]);
                    $('input#register-rstate').val(data["results"][0]["address_components"][1]["long_name"]);
                    $("input#register-rcity").attr("placeholder","Please enter your city");
                    document.getElementById("register-rcity").style.color = "#80709d";
                    $('.js-register.register-button').attr("disabled", false);
                }
                $('input#register-address').val(data["results"][0]["formatted_address"]);
              } if (data["status"] != "OK") {
                $('.text-rcountry').show();
                $('.text-rstate').show();
                $('.text-rcity').show();
                $('.js-register.register-button').attr("disabled", false);
              } 
            };
          })(this)
        });
      }
    };

</script>
