## mako

<%page expression_filter="h"/>

<%namespace name='static' file='../static_content.html'/>

<%!
import json
import pytz
from datetime import date, datetime, timedelta

from django.utils import timezone
from django.utils.translation import gettext as _
from django.utils.translation import ngettext

from lms.djangoapps.courseware.access import has_access
from openedx.core.djangolib.markup import HTML, Text
from openedx.features.course_experience import RELATIVE_DATES_FLAG
from lms.djangoapps.add_manager.views import sponsored_user
%>

<%
course_sections = blocks.get('children')
self_paced = context.get('self_paced', False)
relative_dates_flag_is_enabled = RELATIVE_DATES_FLAG.is_enabled(str(course_key))
is_course_staff = bool(user and course and has_access(user, 'staff', course, course.id))
dates_banner_displayed = False
%>
<main role="main" class="course-outline" id="main" tabindex="-1">
    <%include file="/dates_banner.html" />
    % if course_sections is not None:
        <button class="btn btn-primary"
                id="expand-collapse-outline-all-button"
                aria-expanded="false"
                aria-controls="course-outline-block-tree"
                >
          <span class="expand-collapse-outline-all-extra-padding" id="expand-collapse-outline-all-span">${_("Expand All")}</span>
        </button>
        <ol class="block-tree accordion"
            id="course-outline-block-tree"
            aria-labelledby="expand-collapse-outline-all-button">
        % for section in course_sections:
            <%
            section_is_auto_opened = section.get('resume_block') is True
            scored = 'scored' if section.get('scored', False) else ''
            %>
                <li class="outline-item section ${scored}">
                    <button class="section-name accordion-trigger outline-button"
                            aria-expanded="${ 'true' if section_is_auto_opened else 'false' }"
                            aria-controls="${ section['id'] }_contents"
                            id="${ section['id'] }">
                        <span class="fa fa-chevron-right ${ 'fa-rotate-90' if section_is_auto_opened else '' }" aria-hidden="true"></span>
                        <h3 class="section-title" style="font-size: 1.7rem;">${ section['display_name'] }</h3>
            % if section.get('complete'):
                            <span class="complete-checkmark fa fa-check" aria-hidden="true"></span>
                            <span class="sr">${_("Completed")}</span>
            % endif
                    </button>
                    <ol class="outline-item accordion-panel ${ '' if section_is_auto_opened else 'is-hidden' }"
                        id="${ section['id'] }_contents"
                        aria-labelledby="${ section['id'] }">
            % for subsection in section.get('children', []):
                <%
                gated_subsection = subsection['id'] in gated_content
                needs_prereqs = not gated_content[subsection['id']]['completed_prereqs'] if gated_subsection else False
                scored = 'scored' if subsection.get('scored', False) else ''
                graded = 'graded' if subsection.get('graded') else ''
                num_graded_problems = subsection.get('num_graded_problems', 0)
                %>
                        <li class="subsection accordion ${ 'current' if subsection.get('resume_block') else '' } ${graded} ${scored}">
                            <a
                            % if enable_links:
                                href="${ subsection['lms_web_url'] }"
                            % else:
                                aria-disabled="true"
                            % endif
                                class="subsection-text outline-button"
                                id="${ subsection['id'] }"
                            >
                            % if graded and scored and 'special_exam_info' not in subsection:
                                      <span class="icon fa fa-pencil-square-o" aria-hidden="true"></span>
                            % endif
                                      <h4 class="subsection-title">
                                          ${ subsection['display_name'] }
                            % if num_graded_problems:
                                          ${ngettext("({number} Question)",
                                                     "({number} Questions)",
                                                     num_graded_problems).format(number=num_graded_problems)}
                            % endif
                                      </h4>
                            % if subsection.get('complete'):
                                <span class="complete-checkmark fa fa-check" aria-hidden="true"></span>
                                <span class="sr">${_("Completed")}</span>
                            % endif
                            % if needs_prereqs:
                                    <div class="details prerequisite">
                                        <span class="prerequisites-icon icon fa fa-lock" aria-hidden="true"></span>
                                        ${ _("Prerequisite: ") }
                                            <%
                                                prerequisite_id = gated_content[subsection['id']]['prerequisite']
                                                prerequisite_name = xblock_display_names.get(prerequisite_id)
                                            %>
                                            ${ prerequisite_name }
                                    </div>
                            % endif
                                        <div class="details">

                ## There are behavior differences between rendering of subsections which have
                ## exams (timed, graded, etc) and those that do not.
                ##
                ## Exam subsections expose exam status message field as well as a status icon
                <%
                if subsection.get('due') is None or (self_paced and not in_edx_when):
                    # examples: Homework, Lab, etc.
                    data_string = subsection.get('format')
                    data_datetime = ""
                else:
                    if 'special_exam_info' in subsection:
                        data_string = _('due {date}')
                    else:
                        data_string = _("{subsection_format} due {{date}}").format(subsection_format=subsection.get('format'))
                    data_datetime = subsection.get('due')
                %>
                % if subsection.get('format') or 'special_exam_info' in subsection:
                                            <span class="subtitle">
                    % if 'special_exam_info' in subsection:
                                                    ## Display the exam status icon and status message
                                                    <span
                                                        class="menu-icon icon fa ${subsection['special_exam_info'].get('suggested_icon', 'fa-pencil-square-o')} ${subsection['special_exam_info'].get('status', 'eligible')}"
                                                        aria-hidden="true"
                                                    ></span>
                                                    <span class="subtitle-name">
                                                        ${subsection['special_exam_info'].get('short_description', '')}
                                                    </span>

                        ## completed exam statuses should not show the due date
                        ## since the exam has already been submitted by the user
                        % if not subsection['special_exam_info'].get('in_completed_state', False):
                                                        <span
                                                            class="localized-datetime subtitle-name"
                                                            data-datetime="${data_datetime}"
                                                            data-string="${data_string}"
                                                            data-timezone="${user_timezone}"
                                                            data-language="${user_language}"
                                                        ></span>
                        % endif
                    % else:
                                                    ## non-graded section, we just show the exam format and the due date
                                                    ## this is the standard case in edx-platform
                                                    <span
                                                        class="localized-datetime subtitle-name"
                                                        data-datetime="${data_datetime}"
                                                        data-string="${data_string}"
                                                        data-timezone="${user_timezone}"
                                                        data-language="${user_language}"
                                                    ></span>

                        % if subsection.get('graded'):
                                                <span class="sr">&nbsp;${_("This content is graded")}</span>
                        % endif
                    % endif
                                            </span>
                % endif
                                        </div> <!-- /details -->
                            </a>
                        </li>
            % endfor
                    </ol>
                </li>
        % endfor
        </ol>
    % endif
</main>

<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform('.localized-datetime');
</%static:require_module_async>

<%static:webpack entry="CourseOutline">
    new CourseOutline();
</%static:webpack>
%if request.user.is_staff:
    <% 
        user_course = sponsored_user(request.user,course.id)
    %>

    %if user_course > 0:    
      <div class="modal fade" id="sponsored_content" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="width:100%;" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                  %if user_course[0]['video_url'] :
                    <iframe id="iframeYoutube" width="100%" height="315" src="${user_course[0]['video_url']}" frameborder="0" allowfullscreen allow="autoplay"></iframe>
                  %else :
                    <img src="${user_course[0]['image_url']}" alt="${user_course[0]['video_url']}" width="100%" height="315px;">
                  %endif
                </div>
                <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">
                <!-- <div class="modal-body">
                    <p style="margin-top: 10px;font-size: 16px;">${user_course[0]['question']}</p>
                    <input type="text" id="captcha_term" required>
                    <button type="button" class="btn btn-primary" onclick="check_captcha();">Submit</button>
                    <p>Hint - ${user_course[0]['answer']}</p>
                    <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">
                    <p id="errormsg" style="display: none;">Please enter the value.</p>
                    <p id="errormsg2" style="display: none;">Please enter the correct value.</p>
                </div> -->
                <div class="modal-footer" id="closebtn">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="modalclose(); add_view_counter();">Close</button>
                </div>
            </div>
        </div>
      </div>
      <script src="//code.jquery.com/jquery-1.12.4.js"></script>
        <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script type="text/javascript">
        $(window).on('load',function(){
            /* Get iframe src attribute value i.e. YouTube video url
            and store it in a variable */
            var url = "${user_course[0]['video_url']}"+"?autoplay=1&loop=3";
            
            /* Remove iframe src attribute on page load to
            prevent autoplay in background */
            $("#iframeYoutube").attr('src', '');
            
            /* Assign the initially stored url back to the iframe src
            attribute when modal is displayed */
            
            $("#iframeYoutube").attr('src', url);
            
            /* Assign empty url value to the iframe src attribute when
            modal hide, which stop the video playing */
            $('#sponsored_content').modal('show');
        });

        function autoplay() {
          var url = "${user_course[0]['video_url']}";
          $(".modal-body#iframeYoutube").attr('src', 'url');

        }

        function check_captcha1() {
            var captcha_list = "";
            var captcha_list = captcha_list.split(",");
            var lngth = captcha_list.length;
            var captcha_t = document.getElementById('captcha_term').value;
            var captcha_term = captcha_t.replace(/[^a-zA-Z ]/g, "");
            for(var i = 0; i < lngth; i++) {
                if(captcha_list[i].replace(/[^a-zA-Z ]/g, "") == captcha_term){
                    alert("match found");
                } else {
                    alert("Please enter same text");
                }
            } 
        }

        function check_captcha() {
            var captcha_list = "${user_course[0]['answer']}";
            var captcha_term = document.getElementById('captcha_term').value;
            if (captcha_term.length > 0) {
                var captcha_term = captcha_term.replace(/[^a-zA-Z]/g, "");
                if(captcha_term == captcha_list) {
                    document.getElementById('iframeYoutube').src="${user_course[0]['video_url']}"+ "?autoplay=1";
                    
                    add_view_counter();
                    $('#sponsored_content').modal('hide');
                } else {
                    document.getElementById('captcha_term').value="";
                    document.getElementById('errormsg2').style.display="block";
                    document.getElementById('errormsg').style.display="none";
                }
            } else {
                $( "#captcha_term" ).effect( "shake" );

                document.getElementById('errormsg').style.display="block";
            }
        }

        function add_view_counter() {
            $.ajax({
              method:'GET',
              url:'',
              dataType:'html',
              data:{
                cid : "${course.id}",
                csrfmiddlewaretoken : document.getElementsByName('csrfmiddlewaretoken')[0].value
              },
              success:function(data){
                $('#errors').html(data),
                $('#errors').delay(1000).fadeOut();
              }
            });
          return false;
          }

        function modalclose() {
            $('#iframeYoutube').attr('src', '');
        }
      </script>
    %endif
%endif
