
<html>
<body>
<p>Hello learners</p><b></b><b></b>
<p>At this time, for those enrolled, DocMode course {{course_name}} is available from your Dashboard
 {{add_link}}, and the staff would like to officially welcome you to the event!</p><b></b><b></b>
<p>I hope you will all have a great time learning {{course_name}}! It may be challenging, it may be frustrating,
 but it will be rewarding and you will learn a to</p><b></b><b></b>
<p>On behalf of the staff, welcome, good luck, and have fun!</p><b></b><b></b>
<p>Your {{course_number}} staff,</p><b></b><b></b>
</body>
</html>