<p>You're almost there!</p>

<p><strong>Click the below link to activate your account</strong> for the Viatris and VIA webinar series</p>

<p><a href="http://{{ site }}/activate/{{ key }}">http://{{ site }}/activate/{{ key }}</a></p>

<p>After the account activation, you can always sign-in on https://viatris-via.docmode.org/ using your password and <strong>join the webinars</strong>.</p>


<p>If you need help, email us at support@docmode.org.</p>

<p>"This email message was automatically sent by viatris-via.docmode.org because someone attempted to create an account on Viatris VIA Webinar using this email address"</p>

<p>Legal Notice<br>
Viatris Inc.<br>
1000 Mylan Blvd. Canonsburg,<br>
PA 15317 USA Tel: +1 724.514.1800<br>
Viatris Privacy Notice : https://www.viatris.com/en/privacy-policy<br>
Viatris Cookie Notice  : https://www.viatris.com/en/Cookie-Notice</p>
